.congreso {
  background-image: url("../img/congreso/peritomoreno.jpg");
  background-color: #082c48fc;
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
}

.congreso h1 {
  text-align: center;
  color: #e27c2d;
}

.congreso h2 {
  text-align: center;
  color: #e27c2d;
}

.congreso h3 {
  text-align: center;
  color: #f4bb3c;
}

.congreso h4 {
  text-align: center;
  color: #f4bb3c;
}

.line {
  border-top: 5px solid;
  color: #6cc400;
  width: 50%;
  display: inline-block;
}

.congreso .icon i {
  color: #f4bb3c;
}

.congreso .icon h4 {
  color: #fff;
}

.disertantes .testimonials-carousel,
.disertantes .testimonials-slider {
  overflow: hidden;
}

.disertantes .testimonial-item {
  box-sizing: content-box;
  text-align: justify;
  padding: 30px;
  margin: 30px 15px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  position: relative;
  background: #fff;
  border-radius: 15px;
}

.disertantes .testimonial-item .testimonial-img {
  width: 5rem;
  height: 5rem;
  border-radius: 10px;
  border: 6px solid #fff;
  float: left;
  margin: 0 10px 0 0;
}

.disertantes .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 25px 0 5px 0;
  color: #111;
}

.disertantes .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

.disertantes .testimonial-item .quote-icon-left,
.disertantes .testimonial-item .quote-icon-right {
  color: #000000;
  font-size: 26px;
}

.disertantes .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.disertantes .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.disertantes .testimonial-item p {
  font-style: italic;
  margin: 30px auto 15px auto;
}

.disertantes .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.disertantes .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #e03a3c;
}

.disertantes .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #e03a3c;
}

.disertantes p {
  color: rgb(0, 0, 0);
}

.button {
  text-align: center;
  justify-content: center;
}
.custom-btn {
  width: 200px;
  height: 80px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn-1 {
  background: #f4bb3c;
  background: linear-gradient(0deg, #e27c2d 0%, #f4bb3c 100%);
  border: none;
}
.btn-1:hover {
  background: rgb(0, 3, 255);
  background: linear-gradient(0deg, #145c94 0%, #94b46c 100%);
}
