.congreso {
  background-image: url("../img/congreso/cordoba.jpg");
  background-color: #082c48fc;
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
}

.congreso h1 {
  text-align: center;
  color: #e27c2d;
  font-size: 2.5em; /* Ajusta el tamaño de la fuente del h1 */
}

.congreso h2 {
  text-align: center;
  color: #e27c2d;
  font-size: 2em; /* Ajusta el tamaño de la fuente del h2 */
}

.congreso h3 {
  text-align: center;
  color: #f4bb3c;
  font-size: 1.5em; /* Ajusta el tamaño de la fuente del h3 */
}

.congreso .icon i {
  color: #f4bb3c;
  font-size: 3em; /* Ajusta el tamaño de los íconos */
}

.congreso .icon h5 {
  color: #fff;
  font-size: 1.2em; /* Ajusta el tamaño de la fuente del h5 */
}

.line {
  border-top: 5px solid;
  color: #6cc400;
  width: 50%;
  display: inline-block;
}

.button {
  text-align: center;
  justify-content: center;
}

.custom-btn {
  width: 200px;
  height: 80px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn-1 {
  background: #f4bb3c;
  background: linear-gradient(0deg, #e27c2d 0%, #f4bb3c 100%);
  border: none;
}

.btn-1:hover {
  background: rgb(0, 3, 255);
  background: linear-gradient(0deg, #145c94 0%, #94b46c 100%);
}

.ejes {
  color: white;
  padding: 2rem;
  }
  