.congreso-lugar {
  box-sizing: content-box;
  padding: 30px;
  margin: 30px 15px;
  min-height: 200px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  position: relative;
  background: #fff;
  border-radius: 15px;
}

.disertantes .testimonials-carousel,
.disertantes .testimonials-slider {
  overflow: hidden;
}

.disertantes .testimonial-item {
  box-sizing: content-box;
  padding: 30px;
  margin: 30px 15px;
  min-height: 200px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  position: relative;
  background: #fff;
  border-radius: 15px;
}

.disertantes .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 10px;
  border: 6px solid #fff;
  float: left;
  margin: 0 10px 0 0;
}

.disertantes .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 25px 0 5px 0;
  color: #111;
}

.disertantes .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

.disertantes .testimonial-item .quote-icon-left,
.disertantes .testimonial-item .quote-icon-right {
  color: #000000;
  font-size: 26px;
}

.disertantes .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.disertantes .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.disertantes .testimonial-item p {
  font-style: italic;
  margin: 30px auto 15px auto;
}

.disertantes .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.disertantes .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #e03a3c;
}

.disertantes .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #e03a3c;
}

.disertantes p {
  color: red;
}
