#header {
  height: 70px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: rgba(42, 44, 57, 0.9);
}

#header.header-transparent {
  background: linear-gradient(to rigth,
      rgb(255, 255, 255) 50%,
      rgb(51, 54, 74) 100%);
}

#header.header-scrolled {
  background: rgba(217, 217, 218, 0.504);
}

#header.header-scrolled a {
  color: black;
  font-weight: 600;
}

#header .logo img {
  padding: 10px;
  margin-top: 30px;
  margin: 10px;
  max-height: 80px;
}