.banner {
  position: relative;
  width: 100%;
  height: calc(110vh - 50px);
  background-color: #f5f5f5;
  background-size: cover;
  background-position: center;
  transition: all 0.1s ease-in-out;
  background-image: url("../img/hero-1.jpg");
  animation: banner 25s infinite linear;
}

.banner-content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: calc(110vh - 50px);
  color: #fff;
  background-color: rgba(153, 153, 153, 0.286);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-content h1 {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  font-size: 40px;
  text-align: center;
}

.banner-content a {
  text-decoration: none;
  color: #fff;
  padding: 9px 20px;
  border: 1px solid #fff;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.banner-content a:hover {
  background-color: #fff;
  color: #333;
}




@keyframes banner {
  0% {
    background-image: url("../img/hero-1.jpg");
  }

  20% {
    background-image: url("../img/hero-1.jpg");
  }

  21% {
    background-image: url("../img/hero-2.jpg");
  }

  40% {
    background-image: url("../img/hero-2.jpg");
  }

  41% {
    background-image: url("../img/hero-3.jpg");
  }

  60% {
    background-image: url("../img/hero-3.jpg");
  }

  61% {
    background-image: url("../img/hero-4.jpg");
  }

  80% {
    background-image: url("../img/hero-4.jpg");
  }

  81% {
    background-image: url("../img/hero-5.jpg");
  }

  100% {
    background-image: url("../img/hero-5.jpg");
  }
}