.testimonial-card {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    min-height: 25rem;
  }
  .testimonial-card .testimonial-content {
    font-size: 16px;
    margin-bottom: 15px;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .testimonial-card .testimonial-author {
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
  }
  .testimonial-card .testimonial-author span {
    color: #888;
    font-style: italic;
  }
  .testimonial-card .testimonial-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    margin-right: 10px;
    float: left;
  }
  .testimonial-card .testimonial-content-wrapper {
    overflow: hidden;
  }
  @media (min-width: 768px) {
    .testimonial-card {
      max-width: 400px;
      margin: 0 auto 20px;
    }
  }