.talleres h2 {
  color: #e27c2d;
}

.talleres h3 {
  color: #f4bb3c;
}

.talleres .article {
  color: black;
  text-align: justify;
}

gallery {
  padding: 0.5vw;
  font-size: 0;
  flex-flow: row wrap;
  display: flex;
}
gallery div.item {
  flex: auto;
  width: 200px;
  margin: 0.5vw;
  transition: transform 0.15s linear;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  background: white;
  padding: 5px;
  border-radius: 2px;
  max-width: 400px;
}

gallery div.item:nth-child(even) {
  transform: rotate(2deg);
}
gallery div.item:nth-child(odd) {
  transform: rotate(-4deg);
}
gallery div.item:nth-child(3n),
gallery div.item:nth-child(7n) {
  transform: rotate(-7deg);
}

gallery div.item:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  transform: scale(1.25);
  transition: transform 0.15s linear;
  z-index: 5;
}

gallery div.item img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 400px) {
  gallery div.item {
    margin: 0;
  }
  gallery {
    padding: 0;
  }
}
