.hero {
  overflow-x: hidden;
  padding: 0;
}
.hero h1 {
  color: white;
}
.hero h2 {
  color: white;
}
.hero article {
  color: white;
  text-align: justify;
}
.hero .carousel {
  width: 100%;
  min-height: 80vh;
  padding: 80px 0;
  margin: 0;
  position: relative;
}
.hero .carousel-item {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: 1;
  transition-duration: 0.4s;
}
.hero .carousel-item::before {
  content: "";
  background-color: rgba(30, 29, 29, 0.832);
  position: absolute;
  inset: 0;
}
.hero .carousel-item2 {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: 1;
  transition-duration: 0.4s;
}
.hero .carousel-item2 ::before {
  content: "";
  background-color: rgba(30, 29, 29, 0.832);
  position: absolute;
  inset: 0;
}
.hero .info {
  position: absolute;
  inset: 0;
  z-index: 2;
}
.hero .art {
  position: absolute;
  inset: 0;
  z-index: 2;
}

@media (max-width: 1024px) {
  .hero .info {
    -webkit-margin-after: 0rem;
            margin-block-end: 0rem;
  }
  .hero .info h2 {
    font-size: 40px;
    padding-bottom: 0px;
  }
}
@media (max-width: 768px) {
  .hero .info {
    padding: 40px;
  }
}
.info h2 {
  color: rgba(228, 228, 228, 0.92);
  padding-bottom: 30px;
  font-size: 56px;
  font-weight: 700;
  position: relative;
}

.hero p {
  margin-top: 0.5rem;
}

@media (max-width: 768px) {
  .hero .info h2 {
    font-size: 36px;
    margin-bottom: 0px;
    padding-bottom: 10px;
  }
}
.hero .info p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
}

@media (max-width: 425px) {
  .hero .info {
    -webkit-margin-after: 5rem;
            margin-block-end: 5rem;
    -webkit-padding-after: 5rem;
            padding-block-end: 5rem;
  }
  .hero .info h2 img {
    display: none;
  }
  .hero {
    max-height: 70vh;
  }
}
@media (max-width: 360px) {
  .hero .info {
    -webkit-margin-after: 5rem;
            margin-block-end: 5rem;
    -webkit-padding-after: 5rem;
            padding-block-end: 5rem;
  }
  .hero .info h2 img {
    display: none;
  }
  .hero {
    max-height: 60vh;
  }
}
.talleres .mod {
  background: #145c94;
}

.talleres .mod .title-t {
  color: white;
}

.talleres .faq-list {
  text-align: center;
  justify-content: center;
}

.talleres .fa-solid {
  color: #f4bb3c;
  margin-right: 15px;
}

.talleres h2 {
  color: black;
  border-radius: 100%;
}

.talleres h3 {
  color: black;
}

gallery {
  padding: 0.5vw;
  font-size: 0;
  flex-flow: row wrap;
  display: flex;
}

gallery div.item {
  flex: auto;
  width: 200px;
  margin: 0.5vw;
  transition: transform 0.15s linear;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  background: white;
  padding: 5px;
  border-radius: 2px;
  max-width: 400px;
}

gallery div.item:nth-child(even) {
  transform: rotate(2deg);
}

gallery div.item:nth-child(odd) {
  transform: rotate(-4deg);
}

gallery div.item:nth-child(3n),
gallery div.item:nth-child(7n) {
  transform: rotate(-7deg);
}

gallery div.item:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  transform: scale(1.25);
  transition: transform 0.15s linear;
  z-index: 5;
}

gallery div.item img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 400px) {
  gallery div.item {
    margin: 0;
  }
  gallery {
    padding: 0;
  }
}/*# sourceMappingURL=talleres.css.map */